<div class="container admin">
  <div class="row">
    <%= render('/statics/header') %>
    <div class="head col-md-12" style="margin-top: 30px;">
      <div class="col-md-6"><%= link_to 'Add New Keyword Group', new_keywordgroup_path, class: "btn btn-primary" %></div>
    </div>
    <div class="body table-responsive col-md-12" style="margin-top: 30px;">
      <table class="table table-hover table-striped table-responsive" id="mydatatable">
        <thead>
          <tr>
            <th>No</th>
            <th>Keyword1</th>
            <th>Keyword2</th>
            <th>Keyword3</th>
            <th>Keyword4</th>
            <th>Recipients</th>
            <th class="deleterow no-sort" style="width: 60px;"></th>
            <th class="deleterow no-sort" style="width: 60px;"></th>
          </tr>
        </thead>
        <tbody>
          <% @keywordgroups.each_with_index do |keywordgroup, index| %>
          <tr>
            <td><%= index+1 %></td>
            <% @recipient_num = Recipient.where(keywordgroup_id: keywordgroup.id).count %>
            <% @keywords = Keyword.where(keywordgroup_id: keywordgroup.id) %>
            <% @keyword_num = @keywords.count %>
            <% if @keyword_num == 1 %>
              <% @keywords.each do |keyword| %>
                <td><%= keyword.keyword_name %></td>
              <% end %>
              <td></td>
              <td></td>
              <td></td>
            <% elsif @keyword_num == 2 %>
              <% @keywords.each do |keyword| %>
                <td><%= keyword.keyword_name %></td>
              <% end %>
              <td></td>
              <td></td>
            <% elsif @keyword_num == 3 %>
              <% @keywords.each do |keyword| %>
                <td><%= keyword.keyword_name %></td>
              <% end %>
              <td></td>
            <% elsif @keyword_num == 4 %>
              <% @keywords.each do |keyword| %>
                <td><%= keyword.keyword_name %></td>
              <% end %>
            <% else %>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            <% end %>
            <td><%= @recipient_num %></td>
            <td class="deleterow edit"><%= link_to 'Edit', edit_keywordgroup_path(keywordgroup) %></td>
            <td class="deleterow delete"><%= link_to 'Delete', keywordgroup, method: :delete, data: { confirm: 'Are you sure you want to delete?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>  
</div>
<script type="text/javascript">
  $(document).ready(function(){
    var mytable = $("#mydatatable").DataTable({
      columnDefs: [{
        targets: 'no-sort',
        orderable: false,
        "searchable": false
      }]
    });
  });
</script>